<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DLP Holder and Checker Smoke Test Suite" parallel="false">
  <test name="IOS Checker App Tests">
    <classes>
      <class name="gov.snsw.framework.testng.IOSCheckerSignInTest"/>
      <class name="gov.snsw.framework.testng.IOSCheckerChangePINTest"/>
      <class name="gov.snsw.framework.testng.IOSCheckerManualSearchTest"/>
    </classes>
    
  </test>
  
  <!-- test name="Android Checker App Tests">
    <classes>
      <class name="gov.snsw.framework.testng.CheckerSignInTest"/>
      <class name="gov.snsw.framework.testng.CheckerChangePINTest"/>
      <class name="gov.snsw.framework.testng.CheckerLicSearchTest"/>
    </classes>
    
  </test-->
  
    <!--test name="IOS Holder App Tests">
    <classes>
      <class name="gov.snsw.framework.testng.IOS_HolderSignInTest"/>
      <class name="gov.snsw.framework.testng.IOS_HolderViewLicenceTest"/>
      <class name="gov.snsw.framework.testng.IOS_HolderChangePinTest"/>
      <class name="gov.snsw.framework.testng.IOS_HolderUpdateLicenceTest"/>
      <class name="gov.snsw.framework.testng.IOS_HolderShareLicence"/>
  
    </classes>
    
  </test>

  <test name="Android Holder App Tests">
    <classes>
      <class name="gov.snsw.framework.testng.HolderSignInTest"/>
      <class name="gov.snsw.framework.testng.ViewLicenceDetailsTest"/>
      <class name="gov.snsw.framework.testng.ChangePINTest"/>
      <class name="gov.snsw.framework.testng.UpdateLicenceDetailsTest"/>
      <class name="gov.snsw.framework.testng.LicenceShareTest"/>
      <class name="gov.snsw.framework.testng.RenewLicenceTest"/>
    </classes>
    
  </test--> <!-- Holder App Tests -->
</suite> <!-- Suite -->
