<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- Thread Count should be no more than the number of handsets in yuor Excel -->
<suite name="DLP Holder and Checker Smoke Test Suite" parallel="false">
<!-- suite name="DLP Holder and Checker Smoke Test Suite" parallel="instances" thread-count="9"-->
  
    
  <test name="Android Checker App Tests">
    <classes>
      <class name="gov.snsw.framework.testng.CheckerSignInTest"/>
      <!-- class name="gov.snsw.framework.testng.CheckerChangePINTest"/>
      <class name="gov.snsw.framework.testng.CheckerLicSearchTest"/>
      <class name="gov.snsw.framework.testng.CheckerLicActivityTest"/>
      <class name="gov.snsw.framework.testng.CheckerAutoLockTest"/>
      <class name="gov.snsw.framework.testng.CheckerAboutTest"/>
	  <class name="gov.snsw.framework.testng.CheckerSupportTest"/-->

    </classes>
    
  </test>
  
     	 
</suite> 
